body{
    background-image: url(../IMG/backgraund.jpg);
    background-repeat: repeat;
    background-size:cover ;
}
header{
    display: flex;
    justify-content:space-between;
    background-color:rgb(163, 163, 255);
    margin: 0px auto;
    width: 800px;
    height: auto;
}
header h3{
margin: 20px;
}
header a{
    text-decoration: underline;
}
main{
    background-color: beige;
    margin: 0px auto;
    width: 800px;
    height: auto;
}
footer{
    display: flex;
    background-color: rgb(122, 113, 113);
    margin: 0px auto;
    width: 800px;
    height: auto;
}